#bdd-overlay {
    position: fixed;
    top: 0;
    z-index: 99999;
    opacity: 0.5;
    pointer-events: none;
    padding: 10px;
    font-size: 25pt;
    font-family: sans-serif;
    font-weight: bold;
    color: gray;
}

.bdd-in-progress {
    color: gray;
}

.bdd-ok {
    color: green;
}

.bdd-failed {
    color: red;
}

.focus-highlight {
    pointer-events: none;

    position: fixed;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;

    background-color: rgba(0, 200, 100, 0.25);
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAKyklEQ…gcSoDEoQRIHEqAxKEESBxKgMShBEgcSoDEoQRIHEqAxPE/XhQuPx1cjJQAAAAASUVORK5CYII=);
    background-repeat: no-repeat;
    background-position: top 0px right 10px;
    background-size: 10%;
}
